.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .right ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .right li {
  margin-left: 10px;
}


.navbar-collapse {
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
}

ul.navbar-nav.mr-auto {
  margin: 0 !important;
}

form.form-inline.my-2.my-lg-0 {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

button.botao-busca {
  position: absolute;
  background: transparent;
  border: none;
  right: 15px;
}
